# .gitignore
.venv/
venv/
*.pyc
__pycache__/

# ingnore credentials file
credentials.json

# Ignore environment variable files
.env

# Ignore CSV files
*.csv
data/inputs/*.csv

# Ignore text data files
/data/*.txt

# Ignore schema files
db_schema.sql
db_structure.txt

# Ignore HTTP request files
test_api.http
app/api/test_api.http

# Ignore specific data files
certifications.txt
ideas.txt

# Ignore demo run script
demo_run.py