<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Yara</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>

    <header>
        <h1>SEDECyT</h1>
    </header>

    <main>
        <section>
            <h2>Estadias</h2>
            <p>Universidad Tecnologíca de el Retoño</p>
        </section>
        
        <section>
            <h2>Gráfica</h2>
            <div class="pie-chart-container">
                <div class="pie-chart" style="--good-percentage: 65%; --bad-percentage: 15%; --regular-percentage: 20%;">
                    <div class="pie-chart-slice good"><span>65% Bueno</span></div>
                    <div class="pie-chart-slice bad"><span>15% Malo</span></div>
                    <div class="pie-chart-slice bad"><span>20% Regular</span></div>
                </div>
            </div>
        </section>

        <section>
            <h2>Opciones</h2>
            <ul>
                <li>Opcion 1</li>
                <li>Opcion 2</li>
                <li>Opcion 3</li>
            </ul>
        </section>
    </main>

    <footer>
        <p>&copy; 2025 Mi Compañía. Todos los derechos reservados.</p>
    </footer>

</body>
</html>